<template>
  <div class="card">
    <div class="card-body d-flex">
      <img
        class="img-fluid float-left img-thumbnail w-25"
        :src="require(`@/assets/${image}`)"
      />
      <div class="center-flex">
        <span>
          <a v-if="authorUrl.length > 0" :href="authorUrl">{{ assetText }}</a>
          <p v-if="authorUrl.length === 0"> {{ assetText }}</p>
          <span v-if="isUnsplash()">
            on
            <a href="https://unsplash.com/s/photos/climate?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
              Unsplash</a></span></span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CreditImage",
  props: {
    image: String,
    authorUrl: String,
    assetText: String,
  },
  methods: {
    isUnsplash: function () {
      return this.authorUrl && this.authorUrl.includes("unsplash.com");
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.center-flex {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
</style>
