<template>
  <div class="measure card mb-1 box-shadow">
    <div class="card-header">
      {{ formatDate(measurement.timestamp) }}
    </div>
    <div class="p-4">
      <div class="mt-2">
        <span>
          <a href="https://www.airnow.gov/aqi/aqi-basics/">EPA</a>:
          </span><span>{{ measurement.pollution.epa }}</span>
          <div class="color-block" :style="getEpaColor(measurement.pollution.epa)"></div>
      </div>
      <div class="mt-2">
        <span>
          <a href="https://en.wikipedia.org/wiki/Air_quality_index#Mainland_China">MEP</a>: </span>
          <span>{{ measurement.pollution.mep }}</span>
        <div class="color-block" :style="getEpaColor(measurement.pollution.mep)"></div>
      </div>

      <div class="wind mt-2">
        <div class="wind-icon">
          <img  :src="require(`@/assets/wind_icon.png`)" alt="Wind icon" />
        </div>
        <div>
          {{degreesToCompass(measurement.weather.wind_direction)}}
        </div>
        <div>
          {{measurement.weather.wind_speed}} m/s
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import moment from 'moment';

export default {
  name: "MeasurementCard",
  props: {
    measurement: Object
  },
  methods: {
    formatDate(timestamp) {
      const date = moment(timestamp);
      return date.format('ddd, MMMM Do YYYY');
    },
    getEpaColor(epa) {
      if (epa <= 50) return {'background-color': 'green'};

      if (epa <= 100) return {'background-color': 'yellow'};

      if (epa <= 150) return {'background-color': 'orange'};

      if (epa <= 200) return {'background-color': 'red'};

      if (epa <= 300) return {'background-color': 'purple'};

      if (epa > 300) return {'background-color': 'maroon'};
    },
    /**
     * borrowed from https://morioh.com/p/0130006b995b
     * @param deg
     * @returns {string}
     */
    degreesToCompass: function (deg) {
      var val = Math.floor((deg / 22.5) + 0.5);
      var dir = ["N", "NNE", "NE", "ENE", "E", "ESE", "SE", "SSE", "S", "SSW", "SW", "WSW", "W", "WNW", "NW", "NNW"];

      return dir[(val % 16)];
    }
  },
};
</script>

<style scoped>

.wind {
  display: flex;
  justify-content: space-between;
}
.wind-icon img {
  max-width: 40px;
}

.epa {
  margin-bottom: 20px;
}
.color-block {
  width: 20px;
  height: 12px;
  display: inline-flex;
  margin-left: 10px;
}

.measure {
  width: 200px;
  cursor: default;
}

.card-header {
  padding: 5px;
}
</style>
