<template>
  <div class="search-entries-component">
    <div class="recent-searches">
      <div v-for="(item, key) in this.list" :key="key">

        <router-link :to="{ path: 'search', query: { city: item }}">
          <div class="item btn btn-default border border-primary rounded-pill">
            {{ key + 1 }}. {{ item }}
          </div>
        </router-link>


      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: "SearchEntries",
  props: {
    list: Array,
  }
}
</script>

<style scoped>
.search-entries-component {
  width: 50%;
  margin-left: 25%;
}

.item {
  width: 400px;
  background-color: #59e359;
  padding: 20px;
  margin-top: 20px;
}
</style>