<template>
  <div class="card">
    <div class="card-title">
      <h2 class="d-flex justify-content-around pt-2">
        <span>Average weather</span> <span>{{weekText}}</span>
      </h2>
    </div>
    
    <div v-if="!weather">No weather data available</div>
    <div v-if="weather" class="weather-container">
      <div class="temperature">
        <div class="title">Temperature</div>
        <span class="value">{{ weather.temperature }}</span> <span class="unit">°C</span>
      </div>

      <div class="pressure">
        <div class="title">Pressure</div>
        <span class="value">{{ weather.pressure }}</span> <span class="unit">hPa</span>
      </div>

      <div class="humidity">
        <div class="title">Humidity</div>
        <span class="value">{{ weather.humidity }}</span> <span class="unit">%</span>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';

export default {
  name: "WeatherReport",
  props: {
    weather: Object,
    start: String,
    end: String
  },
  data(){
    const weekFormat = 'D MMM';
    const startDate = moment(this.start).format(weekFormat);
    const endDate = moment(this.end).format(weekFormat);
    const weekText = `${startDate} - ${endDate}`;
    return {
      weekText
    }
  }
};
</script>

<style scoped>
.weather-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.weather-container .title{
  margin-bottom: 6px;
}

.value {
  font-size: 30px;
}

.unit {
  line-height: 30px;
  vertical-align: top;
}
</style>
