<template>
  <div class="container">

    <div row col-sm>
      <div class="card">
        <img class="card-img-top" :src="require(`@/assets/team10.png`)" alt="Team image">
        <div class="card-body">
          <p class="card-text">We are DevOps Team 10. We want to raise awareness for climate change.</p>
        </div>
      </div>
    </div>

    <div row col-sm v-for="(img, index) in credits" :key="index">
      <CreditImage :image="img.image" :assetText="img.text" :authorUrl="img.url">
      </CreditImage>
    </div>


  </div>
</template>

<script>
import CreditImage from '../components/CreditImage.vue';

export default {
  name: "Credits",
  data() {
    return {
      credits: [
        {
          name: 'iceberg',
          image: 'iceberg.jpg',
          text: 'Photo by L.W',
          url: 'https://unsplash.com/@lwalz?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText'
        },
        {
          name: 'wind',
          image: 'wind_icon.png',
          text: 'Icons made by Freepik from FlatIcon',
          url: 'https://www.flaticon.com/free-icon/wind_172922'
        },
        {
          name: 'pollution',
          image: 'pollution.jpg',
          text: 'Photo by Johannes Plenio',
          url: 'https://unsplash.com/@jplenio?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText'
        },
      {
        name: 'chevron-left',
        image: 'left-chevron.png',
        text: 'Icons made by Freepik from FlatIcon',
        url: 'https://www.flaticon.com/free-icon/left-chevron_120892?term=chevron&page=1&position=22&page=1&position=22&related_id=120892&origin=tag'
      }
      ]
    }
  },
  components: {
    CreditImage
  },
  props: {
    msg: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
[row] {
  margin-top: 15px;
}
</style>
