<template>
  <div class="home">
    <main>
      <div class="jumbotron">
        <h1 class="display-4">Climate Awareness Through Air Pollution Data</h1>
        <p class="lead">
          We want to raise awareness for Climate change. You can search for data
          on air pollution in your city.
          <br />
          First login then head over to the search page and fill in your city!
        </p>
        <hr class="my-4" />
        <div v-if="!loggedIn">
          <p class="lead">
            <a
              class="btn btn-primary btn-lg"
              href="https://devops-team-10-uva-2021.auth.eu-west-1.amazoncognito.com/login?client_id=6s70rr3molijo1649tfuuupga2&response_type=code&scope=aws.cognito.signin.user.admin+email+openid+profile&redirect_uri=https://d1ilb1i22430zd.cloudfront.net/login"
              role="button"
              >Login</a
            >
          </p>
        </div>
        <div v-if="loggedIn">
          <h3>Popular searches</h3>
          <SearchEntries :list="this.popular"></SearchEntries>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import SearchEntries from "@/components/SearchEntries";
import { getAuth } from "@/services/AuthHelper";
import { MeasurementService } from "@/services/MeasurementService";

export default {
  name: "Home",
  computed: {
    loggedIn() {
      return !!this.loginToken && !this.loginToken.isExpired();
    },
  },
  data() {
    const auth = getAuth();
    return {
      loginToken: auth,
      popular: [],
    };
  },
  created() {
    if (this.loggedIn) {
      this.fetchPopularCities();
    }
  },
  components: {
    SearchEntries,
  },
  methods: {
    fetchPopularCities: function() {
      const measurementService = new MeasurementService();
      measurementService.getPopularSearches().then((data) => {
        this.popular = data;
      });
    },
  },
};
</script>

<style scoped>
.home {
  background-image: url("../assets/iceberg.jpg");
  background-size: cover;
  height: calc(100vh - 84px);
}
</style>
