<template>
  <div class="about">
    <h1>This is an Login page</h1>
    <div v-if="loading">Loading... {{ error }}</div>
    <div v-if="!loading && !error">
      <div>
        <h3>Access token</h3>
        <div class="token-block">{{ tokens.access }}</div>
      </div>
      <div>
        <h3>ID token</h3>
        <div class="token-block">{{ tokens.id }}</div>
      </div>
      <div>
        <h3>Refresh token</h3>
        <div class="token-block">{{ tokens.refresh }}</div>
      </div>
    </div>
    <div v-if="error">Something went wrong</div>
  </div>
</template>
<script>
import axios from "axios";
import moment from "moment";
import { saveAuth } from "@/services/AuthHelper";

async function validateToken(code) {
  const cognitoHost = `https://devops-team-10-uva-2021.auth.eu-west-1.amazoncognito.com`;
  const clientId = "6s70rr3molijo1649tfuuupga2";
  const redirectUri = "https://d1ilb1i22430zd.cloudfront.net/login";
  const authUrl = `${cognitoHost}/oauth2/token`;

  const params = new URLSearchParams();
  params.append("grant_type", "authorization_code");
  params.append("code", code);
  params.append("client_id", clientId);
  params.append("redirect_uri", redirectUri);

  try {
    const result = await axios.post(authUrl, params);
    return result.data;
  } catch (e) {
    throw "Authorization failed.";
  }
}

export default {
  name: "Home",
  data() {
    return {
      loading: false,
      error: false,
    };
  },
  created() {
    const state = this.$root.$data.sharedState;
    const code = this.$route.query.code;
    if (code) {
      this.loading = true;
      validateToken(code)
        .then((response) => {
          saveAuth(response);
          state.loginToken = response;
          state.loginToken.until = moment().add(response.expires_in, "seconds");
          this.loading = false;
          this.tokens = {
            access: response.access_token,
            id: response.id_token,
            refresh: response.refresh_token,
          };
          this.$router.push({ name: "Home" });
        })
        .catch(() => {
          this.loading = false;
          this.error = true;
        });
    } else {
      this.error = true;
    }
  },
};
</script>

<style scoped>
.token-block {
  max-width: 60%;
  white-space: break-spaces;
  line-break: anywhere;
  word-break: break-all;
  margin: 1% 20%;
  border: solid 2px #0000007a;
  padding: 10px;
}
</style>
