<template>
  <div class="profile-container">
    <div v-if="loggedIn">
      <h3>Profile data</h3>
      <br/>
      <p>Username: {{ authData.username }}</p>
      <p>Email-address: {{ authData.email }}</p>
    </div>
    <br/>
    <button v-if="loggedIn" @click="logout" class="btn btn-outline-dark">Logout</button>

    <div v-if="loggedIn" class="last-searches">
      <h3>Your last searches</h3>
      Click on a city to search again!
      <SearchEntries :list="this.currentList"></SearchEntries>
    </div>

  </div>
</template>

<script>
import SearchEntries from "@/components/SearchEntries";
import {getAuth} from '@/services/AuthHelper';
import {IncognitoService} from '@/services/IncognitoService'

export default {
  name: "Profile",
  methods: {
    logout() {
      localStorage.removeItem('auth_tokens');
      this.$router.push({name: 'Home'});
    }
  },
  computed: {
    loggedIn() {
      return !!this.loginToken;
    }
  },
  data() {
    const auth = getAuth();
    return {
      loginToken: auth,
      authData: {}
    }
  },
  created() {
    if (!this.loggedIn) {
      try {
        this.$router.push({name: 'Home'});
      } catch (e) {
        // happens in case redirect goes to fast
      }
    } else {
      const incognitoService = new IncognitoService();
      incognitoService.getProfileData()
          .then((data) => {
            console.log(data);
            this.authData = data;
          })
    }

    let list = localStorage.getItem('recent');
    if (!list) {
      this.currentList = [];
    } else {
      this.currentList = JSON.parse(list).reverse();
    }

  },
  components: {
    SearchEntries
  },
}
</script>

<style scoped>
.profile-container {
  padding-top: 50px;
  height: calc(100vh - 84px);
  background-color: #E9ECEF;
}

.last-searches {
  margin-top: 50px;
}
</style>