<template>
  <div class="search">
    <div class="pt-3 bg-light pb-1" v-if="!loggedIn">
      <h3>You are not logged in</h3>
      <p>You will be redirected to home shortly</p>
    </div>
    <div v-if="loggedIn">
      <h1 class="search-title text-white">Find for your city</h1>

      <autocomplete
          class="search-bar"
          :search="search"
          placeholder="Search for a city"
          aria-label="Search for a city"
          :get-result-value="getResultValue"
          @submit="handleSubmit"></autocomplete>

      <div class="week-data-container">
        <WeatherReport :weather="getAverageWeather()" :start="startDate" :end="endDate" ></WeatherReport>
      </div>

      <div class="py-5 d-flex">
        <div class="container-fluid">
          <div class="card-holder">
            <div class="card-wrapper" v-for="(item, key) in measurements" :key="key">
              <MeasurementCard :measurement="item"></MeasurementCard>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import '@trevoreyre/autocomplete-vue/dist/style.css'
import Autocomplete from '@trevoreyre/autocomplete-vue' // This source is used for the autocomplete view: https://autocomplete.trevoreyre.com/#/vue-component?id=defaultvalue
import {getAuth} from "../services/AuthHelper";
import {MeasurementService} from "@/services/MeasurementService";
import MeasurementCard from "@/components/MeasurementCard";
import WeatherReport from "@/components/WeatherReport";

export default {
  name: "Search",
  computed: {
    loggedIn() {
      return !!this.loginToken;
    }
  },
  data() {
    const auth = getAuth();
    const weekEnd = moment().startOf('day');
    const weekStart = moment().startOf('day');
    weekStart.subtract(1, 'week');
    console.log('kak', weekStart.format(), weekEnd)
    return {
      loginToken: auth,
      measurements: null,
      startDate: weekStart.format(),
      endDate: weekEnd.format(),
      cities: [ "Amsterdam", "Rotterdam", "Los Angeles", "New York City", "London", "Paris", "Berlin", "Stockholm", "Beijing", "Dhaka" ]
    }
  },
  created() {
    let list = localStorage.getItem('recent');
    if (!list) {
      this.currentList = [];
    } else {
      this.currentList = JSON.parse(list);
    }

    const paramCity = this.$route.query.city;
    if (paramCity) {
      console.log(this.$route.query.city)
      this.handleSubmit(this.$route.query.city)
    }
    if (!this.loggedIn) {
      setTimeout(() => {
        this.$router.push({name: 'Home'});
      }, 2000);
    }
  },
  methods: {
    search(input) {
      if (input.length < 1) {
        return this.cities;
      }
      return this.cities.filter(city => {
        return city.toLowerCase()
            .includes(input.toLowerCase());
      })
    },
    getResultValue(result) {
      return result
    },
    getAverageWeather() {
      if (!this.measurements || this.measurements.length === 0) {
        return null;
      }

      const measureCount = this.measurements.length;
      const total = this.measurements.reduce((total, current) => {
        const weather = current.weather;
        total.temperature = weather.temperature;
        total.pressure = weather.pressure;
        total.humidity = weather.humidity
        return total;
      }, {
        temperature: 0,
        pressure: 0,
        humidity: 0
      });

      return {
        temperature: (total.temperature / measureCount).toFixed(2),
        pressure: (total.pressure / measureCount).toFixed(2),
        humidity: (total.humidity / measureCount).toFixed(2)
      }
    },
    handleSubmit(result) {

      if (result != null) {
        this.currentList.push(result);
        if (this.currentList.length > 5) {
          this.currentList = this.currentList.slice(1, 6);
        }
        localStorage.setItem('recent', JSON.stringify(this.currentList));
      }

      this.fetchSearch(result);
    },

    fetchSearch: function (city) {
      const measurementService = new MeasurementService();
      measurementService.getMeasurement(city, moment().format())
          .then((data) => {
            this.measurements = data;
          })
    }
  },
  components: {
    Autocomplete,
    MeasurementCard,
    WeatherReport
  },
};
</script>


<style>

.chevron {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chevron img {
  max-width: 80px;
  vertical-align: center;
}

.card-holder {
  flex-wrap: wrap;
  display: flex;
}

.card-wrapper {
  flex: 1;
  margin: 5px;
  display: flex;
  justify-content: center;
}

.search {
  background-color: #E9ECEF;
  background-image: url("../assets/pollution.jpg");
  background-size: cover;
  background-position: bottom;
  height: calc(100vh - 84px);
  overflow: auto;
}

.search-bar {
  width: 500px;
  margin: auto;
  padding: 20px;
}

.search-title {
  padding-top: 50px;
}

.autocomplete-input {
  background-color: white !important;
}

.week-data-container {
  width: 75%;
  margin: 50px auto 0;
  max-width: 800px;
}
</style>