<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link :to="{ path: 'search' }">Search</router-link> <span > | </span>
      <router-link to="/credits">Credits</router-link> <span> | </span>
      <router-link to="/profile">Profile</router-link>
    </div>
    <router-view />
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  min-width: 440px;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #4283b9;
}
</style>
<script>
import {getAuth} from "./services/AuthHelper";

export default {
  computed:{
    loggedIn(){
      return !!this.loginToken
    }
  },
  data(){
    const auth = getAuth();
    return {
      loginToken: auth
    }
  },
}
</script>